<html>
<head>
    <title>Mini Pokemon Adventure</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/site.css"/>
</head>

<body>

  <div class="container">

    {% for message in get_flashed_messages() %}
        <p class="alert alert-warning">{{ message }}</p>
    {% endfor %}
    <div class="block-container">
      <!-- This is where the main content goes. -->
      {% block body %}
          BODY OF PAGE GOES HERE VIA INHERITANCE
          <a href="{{ url_for('login') }}"> Login </a>
      {% endblock %}
    </div>

  </div>

</body>
</html>
