{% extends "base.html" %}

{% block body %}
    <!-- <div class="container"> -->
        <a href="{{ url_for('logout') }}" class="top-left button-style"> Logout </a> <br>
            <div>
                <p id="user">
                    Welcome {{ username }}
                </p>
            </div>

        <br>

        <div class="top-right">
            <a href="{{ url_for('pc') }}" class="button-style"> PC </a> <br>
    
            <a href="{{ url_for('guess') }}" class="button-style"> Who's That Pokemon </a> <br>
        </div>

        <br>

        <div class="center">
            <a href="{{ url_for('random_poke') }}" class="button-style"> Search for wild Pokemon </a>
        </div>
    <!-- </div> -->

{% endblock %}